# Hidden files
.DS_Store

# Single directories
/fae.egg-info/

# Recursive directories
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
.vscode/

# w&b files and directories
/fae/wandb/

# Tester file
/fae/tester.py